## --- .NET ---
[Bb]in/
[Oo]bj/
out/
publish/
# Wykluczamy biblioteki pobrane przez NuGet
packages/
# Wykluczamy pliki tymczasowe EF Core
*.pfx
*.publishsettings

## --- JetBrains (Rider) ---
.idea/
*.sln.iml
.idea.SklepInternetowy.dir/

## --- Operating Systems (macOS) ---
.DS_Store
.AppleDouble
.LSOverride
# Pliki tymczasowe Maca
._*
.Spotlight-V100
.Trashes

## --- SQLite ---
# Ignorujemy pliki tymczasowe bazy, które blokują dostęp
*.db-shu
*.db-wal
*.db

## --- User Secrets ---
# Jeśli zaczniesz używać sekretów (np. klucze API)
[Aa]ppsettings.Development.json
[Aa]ppsettings.local.json

.vs/
.vscode/

# Pliki użytkownika (ustawienia lokalne Ridera/VS)
*.csproj.user
*.user
*.suo

# Logi
*.log